@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url("../imagens/fundo-madeira.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-image: url("../imagens/frame-iphone.png");
    background-repeat: no-repeat;
    background-position: center center;
}

iframe#tela {
   position: relative;  
   top: 80px;
   left: 22px;
   width: 267px;
   height: 471px;
}

section#redessociais {
    text-align: right;
}

section#redessociais  img {
    width: 43px;
    border-radius: 100%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.414);
    box-sizing: border-box;
}

section#redessociais img:hover {
    border: 2px solid rgb(214, 214, 214);
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.371);
    transition: transform .3s;
}